flask
pypdf
openai
dotenv
langchain_openai==0.3.34
langchain==0.3.27
langchain_experimental==0.3.4
langchain_community==0.3.30
flask-cors
werkzeug
PyJWT
weaviate-client
youtube-transcript-api
langgraph
langchain-core==0.3.77
google-cloud-aiplatform
pandas
google-cloud-texttospeech
stripe